/* Background image */
html {
    background: url(pexels-hay-photograp-95469-309293.jpg) no-repeat center fixed;
    /* Joe */


/* Title */
.Title {
    text-align:center;
    border-style: solid;
    border-color: white;
    font-size: 32px;
    font-family: Arial;
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);

   } 

.Sub-Title {
    text-align: center;
    color: white;
    font-family: Arial;
}



/*Nav Bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-radius: 15px;
    border-style: solid;
    border-color: white;

}

li {
    font-family: Arial;
    float: inherit;
    border-right: 1px solid #111;
}

li:last-child {
border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: royalblue; 
    transition: background-color .2 ease-in;
 }

 .Duck {
    text-align: center; /* Centers the image and text */
    margin: 20px; /* Adds spacing around the div */
}
.Duck img {
    max-width: 100%; /* Ensures the image scales properly */
    height: auto;    /* Maintains the aspect ratio */
}

.DuckText {
    color: yellow;
    text-align: center;
}
    

   
   
}