/* Background image */
html {
    background: url(pexels-lenin-estrada-117221-2569997.jpg) repeat-x right fixed;
    background-size: 600px 50%;
    background-color: #000000;
    background-position: bottom;
    margin-bottom: 1200px;
    background-repeat: repeat-x;
}


/* Title */
.Title {
    text-align:center;
    border-style: solid;
    border-color: white;
    font-size: 32px;
    font-family: Arial;
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);

} 

.Sub-Title {
    text-align: center;
    color: white;
    font-family: Arial;
    }


/*Nav Bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-radius: 15px;
    border-style: solid;
    border-color: white;

}

li {
    font-family: Arial;
    float: inherit;
    border-right: 1px solid #111;
}

li:last-child {
border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:  #cf23cf ; 
}

/*Article List*/

#ArticleList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    display: flex;
    flex-direction: column;
}

#ArticleContent {
    font-family: Arial;
    float: left;
    border-right: 1px solid #111;
}

#ArticleContent:last-child {
border-right: none;
}

#ArticleContent a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#ArticleContent a:hover {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}